
.recycling3 {
    margin-top: 10%;
}

.recycling3-header1 {
    color: orange;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 5%;
}

.recycling3-header2 {
    color: black;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 5%;
}
.recycling3-paragraph {
    color: grey;
    font-size: 15px;
    line-height: 35px;
    margin-bottom: 5%;
}
.recycling3-button {
    color: white;
    background: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 5%;
}

@media screen and (max-width: 1000px) {
    .recycling3-image {
        width: 100%;
    }
}